@import '@/assets/css/theme_variables.scss';
@import '@/assets/css/fonts.scss';

.btn {
  //display: flex;
  cursor: pointer;
  text-align: center;
  user-select: none;
  align-items: center;
  font-family: $header-font;
  font-weight: bold;
  border: 1px solid $black;
  height: 1rem;

  //
  font-size: 1rem;
  line-height: 1;
  padding: 1rem 2rem;
  min-width: 2rem;
  border-radius: 50rem;
  background-color: white;

  &-big {
    font-size: 1rem;
    padding: 1rem 3rem;
    min-width: 2rem;
    border-radius: 50rem;
  }
}


.btn-pink {
  color: #fff;
  background-color: $pink;
  border-color: $pink;
}

.btn-pink:hover {
  color: #fff;
  background-color: $pink-hover;
  border-color: $pink-hover;
}

.btn-gradient {
  @include gradient();
  //border-color: white;
  border: none;
  color: white;
}

.btn-gradient:hover {
  @include gradient-reverse();
  color: yellow;
}


.btn-icon {

  a {
    margin: 0.5rem;
  }

  .icon {
    margin: 0 auto;
    padding: 0;

    &:hover {
      background: white;
    }
  }

  &--text {
    margin: 0 10px;
  }

  &:hover {
    color: white;
  }

}

