@import 'theme_variables';

//10px	0.625rem
//11px	0.6875rem
//12px	0.75rem
//13px	0.8125rem
//14px	0.875rem
//15px	0.9375rem
//16px	1rem
//17px	1.0625rem
//18px	1.125rem
//19px	1.1875rem
//20px	1.25rem
//21px	1.3125rem
//22px	1.375rem
//23px	1.4375rem
//24px	1.5rem


$header-font: 'Nunito', sans-serif;
$text-font: 'Roboto', sans-serif;

body {
  font-family: $text-font;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: bold;
  //text-transform: uppercase;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

a:hover {
  text-decoration: none;
  color: $pink;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;

  &--bold {
    font-weight: bold;
  }

  &--light {
    opacity: 0.5;
  }

  &--medium {
    font-weight: 500;
  }

  &--big {
    font-size: 1.125rem;
  }

  &--link {
    text-decoration: none;
    color: $color-link;

    a {
      text-decoration: none;
      color: $color-link;
    }

    &:hover {
      text-decoration: none;
      color: $color-link;
    }
  }

}


.title {
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (max-width: 960px) {
  h1, h2, h3 {
    font-size: calc(4vw + 4vh + 0vmin);
    line-height: calc(4vw + 4vh + 0vmin);
  }
  h3, h4, h5, h6 {
    font-size: calc(3vw + 3vh + 0vmin);
    line-height: calc(3vw + 3vh + 0vmin);
  }

}
